body {
  font-family: Helvetica, Arial, sans-serif;
  background: #00A0FF;
  color: #FFF;
  margin: 0;
}

iframe {
  background: #FFF;
  border: 3px solid #000;
}
#display{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}
.divdrop{
    float:left;
    width:150px;
    height:150px;
    margin:10px;
    padding:10px;
    border:1px solid #FFF;
}
.button_scale{
    float:left;
    width:150px;
    margin:10px;
    padding:10px;
    border:1px solid #FFF;
}
footer {
	display:inline-block;
        position: relative;
        height: 40px;
        width: 100%;
        background-color: white;
	bottom:-10px;
}

p.copyright {
        position: absolute;
        width: 100%;
        color: black;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
    }
.flex-container {
	display: flex;
	flex-wrap: wrap;
}
.container{
	min-height:86vh;
	height:100%;
}
.container1{
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(53, 58, 53) !important;
    color: white !important;
    border-radius: 25px;
    width: 500px !important;
    width: 700px !important;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.container1>p{
	margin-left:20px;
}
.container1>h1,h2,h3,h4,h5,h6{
	margin-left:10px;
}
.lead{
	font-size:28px !important;
}